*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:blueviolet;
}

h1{
    text-align: center;
    margin-top: 1rem;
    font-family: cursive;
    color: white;
    font-size: 2rem;
    margin-right: 35px;
}

p{
    padding-right: 40px;
    font-size: 1rem;
    text-align: justify; 
    line-height:30px;
}

div{
    display:block;
    margin: 20px auto;
    background-color:rgb(238, 235, 227);
    color: rgb(67, 62, 62);
    padding: 20px;
    font-size:1.2rem;
    
}

.caixa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

textarea{
    border: 3px solid royalblue;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(129, 125, 125);
    background-color:rgb(3, 5, 66);
    resize: none;
    width: 900px;
    height:30rem;
    line-height:30px;
    padding-top:20px;
    text-align:center;
    
}

